<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
    <h1>日報管理システムへようこそ</h1>
    <h2>【自分の日報一覧】</h2>
    <table>
        <tr>
            <th>氏名</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
        <tr th:each="report : ${reportlist}">
            <td th:text="${report.employee.name}"></td>
            <td th:text="${report.reportDate}"></td>
            <td th:text="${report.title}"></td>
            <td><a th:href="@{/report/repo/{id}(id = ${report.id})}">詳細を見る</a></td>
        </tr>
    </table>
<a th:href="@{/report/rregister}">新規日報の登録</a>
<p th:text="'(全'+${reportlist.size}+'件)'"></p>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form><br>
</body>
</html>