@charset "UTF-8";

label {
    display: inline-block;
    width: 8em;
    line-height: 150%;
}
pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}